.navWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease, border-color 0.3s ease;
}

.transparent {
  background-color: transparent;
  color: white;
}

.glassy {
  background-color: rgba(255, 255, 255, 0.875); /* stronger background */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #262626;
  border-bottom-color:#e5e7eb;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.logoImage{
  border-radius: 1rem;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLink {
  position: relative;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: Uppercase;
  letter-spacing: 0.5px;
}

.transparent .navLink,
.transparent .icon {
  color: white;
}

.glassy .navLink,
.glassy .icon {
  color: #262626;
}

/* Underline animation */
.navLink::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease, left 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
  left: 0;
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: none;
  transition: transform 0.6s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}
